<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <renderContentEditorHeader>
        <processor type="Sitecore.Support.Shell.Applications.ContentEditor.Pipelines.RenderContentEditorHeader.AddProfileCards, Sitecore.Support.216013" patch:instead="processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditorHeader.AddProfileCards, Sitecore.Xdb.Client']"/>
      </renderContentEditorHeader>
    </pipelines>
  </sitecore>
</configuration>